        body{
            font-family:Tahoma;
            background-color: rgb(121, 141, 10);
        }
        h1{
            color: black;
            border: 5px, dashed, blue;
            display: inline-block;
            border-radius: 10px;
            position: relative;
            text-align: center;
            padding: 10px, 10px, 10px, 10px;
            text-shadow: 2px 2px 5px white;
            margin-left: 45px;
        }
        table{
            color: rgb(53, 36, 36);
            background-color: rgb(187, 230, 210);
            border: 7px solid purple;
            margin-left: 30px;
        }
        th{
            background-color: antiquewhite;
            font-size: xx-large;
        }
        span{
            color: red;
        }
        .equal-to{
            background-color: white;
            color: black;
        }
        .plus{
            background-color: blue;
            color: white;
        }
        #del{
            background-color: red;
            color: white;
        }